# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
!example.tfvars
!example.aws.tfvars
crash.log

# Generated inventory & SSH
inventory/hosts.yml
*.pem

# Ansible
ansible/*.retry

#env vars
.env
